/*FAMILIAS TIPOGRAFICAS*/

/*titulos*/
@font-face {
    font-family: kopi-titulos;
    src:url('../font/kopi_senja_sans/Kopi\ Senja\ Sans.otf') format('../')
  }

  /*textos y parrafos*/
  @font-face {
    font-family: mukta-textos;
    src: url('../font/');
  }