

footer{
    background-color: white;
    text-align: center;
    margin-bottom: 0;
    padding: 3%;

    .cinta{
        cursor: pointer;
        .redes img{
            width: 5%;
            padding: 10px;
            
            
            
        }
    }
}