.estesi{
    display: flex;
    justify-content: center;


    .card{
        @extend %cards;
        flex-direction: row;
        justify-content: space-around;
        &:hover{
            background-color: rgba(255, 255, 255, 0.30) ;
            box-shadow:  0 0 20px rgba(0, 0, 0, 0.30) ;

        }
    
        .textocard{
            display: flex;
    
            text-align:center;
            width: 500;
            flex-direction: column;
            margin-top: 10%;

            .titcard{
                display: flex;
                margin-top: 60px;
                font-family: 'prequel';
                font-weight: normal;
                color: #fbb03b;
                font-size: 38px;
                

    
            }
            .textcard{
                display: flex;
                text-align: start;
                padding-right: 10%;
                color: white;
            }
    
        }
    
        .cardimg{
            max-width: 25%;
            padding: 20px;
            display: flex;
            align-items: end;
            background-color: white;
    
    
            
        }
        
    }
    
}

.playlist{
    display: flex;
    justify-content:center;
    top: 80%;
    padding: 20px;
    margin-top: 20%;
}

.clientes{
        display: flex;
        justify-content: center;
        

        .grilla{
            background-color: rgba(255, 255, 255, 0.20); /* Fondo blanco con opacidad 0.8 */
            padding: 20px; /* Ajusta el relleno según tus necesidades */
            border-radius: 10px;
            flex-direction: column;
            max-width: 80%;
            margin-top: 60px;
            justify-content: space-around;
            
           
            
            .row1{
                display: flex;
                flex-direction: row;
                .col{
                    padding: 20%;
                }
                
        
            }
            .row2{
                display: flex;
                flex-direction: row;   
                .col{
                    padding: 20%;
                }
                 
            }
        }
    
}