.testimonios-section {
    display: flex;
    justify-content: center;
   
    .testimonio {
        @extend %cards;

        width: 300px;
        margin: 0 20px; /* Espacio entre columnas */
        text-align: center;
        flex-wrap: wrap;
        margin-top: 15%;
        font-family: 'mukta-textos';
        color: white;


        .usericon{
            margin: 8%;
        }

        



    }
}