/*mobile*/

@media only screen and (max-width: 480px){
    .estesi{
        display: flex;
        .card{
            @extend %cards;
            flex-direction: column;
            justify-content: space-around;
        }
    }

    .navbar{
        .menu-toggle {
            display: block; /* Muestra el botón de menú en dispositivos móviles */
            margin: 30px;
          }
        .menu {
            display: none; /* Oculta el menú en dispositivos móviles */
          }
        .menu.active {
            display: block; /* Muestra el menú cuando tiene la clase 'active' */
          }  
    }

    .mosaico{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .testimonios-section{
        display: flex;
        flex-direction: column;
    }

    

    
}




/*desktop*/

@media only screen and (min-width:981px) {


}