/* FAMILIAS TIPOGRÁFICAS */

/* Títulos */
@font-face {
  font-family: 'kopi-titulos';
  src: url('../../font/kopi_senja_sans/Kopi-Senja-Sans.otf') format('opentype');
}

/* Textos y párrafos */
@font-face {
  font-family: 'mukta-textos';
  src: url('../../font/mukta/Mukta-Medium.ttf') format('truetype');
}
